/* Box Model Hack */
* {
    box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.clear {
   clear: both;
}
body{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 62.5%;
    font-family: 'Roboto Condensed', sans-serif;
}
/* MAIN CONTENT */
#mainContent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80vw;
    margin: auto;
    min-height: 75vh;
    width: 70vw;
    min-height: calc(100vh - 50px);
}
/* DIV WITH OPTIONS */
#options{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30vh;
    height: 20vh;
}
#options span{
    margin: 15px 0;
    font-size: 2rem;
    display: block;
    opacity: 70%;
}
/* DIVIDER FOR ACCOUNT PAGE */
#dividerForAccount{
    min-height: 100vh;
    border-left: 2px solid rgba(0, 0, 0, 0.7);
}
/* DIV WITH CONTENT */
#content{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25vh;
}
/* MyInfo CSS */
/* Main container */
#contentDivs{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: flex-end;
    font-size: 1.2rem;
    width: 80%;
}
#contentDivsSizing{
    height: 100%;
    max-width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
/* Box with text - content */
.contentBox{
    height: 100px;
    width: 50%;
    /* min-width: 250px; */
    flex: 1 0 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
}
.contentBox span{
    font-size: 1.5rem;
    opacity: 70%;
    font-family: 'Roboto Condensed', sans-serif;
}
.contentBox>:first-child{
    opacity: 100%;
}
.dividerMyData{
    width: 60%;
    border-bottom: 1px solid black;
    opacity: 70%;
    margin: 10px 0;
}
/* End of the box, buttons below it */
#contentBtns{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 10%;
    width: 80%;
}
#contentBtns input[type="button"]{
    height: 45px;
    width: 150px;
    margin: 15px 15px 15px 0;
    font-size: 1.2rem;
    background: none;
    color: rgba(51, 51, 51, 0.7);
    padding: 10px 20px;
    border: 2px solid rgba(51, 51, 51, 0.7);
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
#contentBtns input[type="button"]:hover{
    background: rgba(51, 51, 51, 0.7);
    color: #fff;
}
/* Contact Us CSS */
#contactUsDiv{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: center;
    font-size: 1.2rem;
    width: 80%;
}
form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    height: 100%;
}
.nameMail{
    height: 20%;
    width: 45%;
    display: flex;
    flex-flow: column;
}
label{
    padding-bottom: 5px;
    font-size: 1.5rem;
    opacity: 70%;
}
.contactUs-element{
    width: 100%;
    display: flex;
    flex-flow: column;
    margin-top: 35px;
}
form input[type="text"], textarea{
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #ccc;
    opacity: 70%;
    resize: none;
}
form input[type="submit"]{
    height: 45px;
    width: 150px;
    font-size: 1.2rem;
    margin: 15px 15px 15px 0;
    background: none;
    color: rgba(51, 51, 51, 0.7);
    padding: 10px 20px;
    border: 2px solid rgba(51, 51, 51, 0.7);
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
input[type="submit"]:hover{
    background: rgba(51, 51, 51, 0.7);
    color: #fff;
}
/* Change password */
#changePassword{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
#changePassword input[type="password"]{
    width: 100%;
    box-sizing: border-box;
    font-size: 1.5rem;
    border: none;
    border-bottom: 2px solid #ccc;
    opacity: 70%;
    resize: none;
}
#changePassword span{
    font-size: 1.5rem;
    opacity: 70%;
    margin-top: 15px;
}
#changePassword input[type="submit"]{
    font-size: 1.2rem;
    height: 45px;
    width: 150px;
    margin: 15px 15px 15px 0;
    background: none;
    color: rgba(51, 51, 51, 0.7);
    padding: 10px 20px;
    border: 2px solid rgba(51, 51, 51, 0.7);
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
#changePassword input[type="submit"]:hover{
    background: rgba(51, 51, 51, 0.7);
    color: #fff;
}
@media (max-width: 600px){
    #mainContent{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-content: flex-start;
        width: 80vw;
        margin: auto;
        min-height: 75vh;
        width: 70vw;
        min-height: calc(100vh - 50px);
    }
    /* OPTIONS HORISONTALLY */
    #options{
        width: 100%;
        height: 10vh;
        flex-direction: row;
        gap: 15px;
        margin-top: 10px;
    }
    #options span{
        width: 30%;
        opacity: 70%;
        font-size: 1.2rem;
        text-align: center;
        margin: auto;
    }
    /* DIVIDER FOR ACCOUNT PAGE */
    #dividerForAccount{
        min-width: 100vw;
        min-height: 1px;
        max-height: 1px;
        border-bottom: 2px solid rgba(0, 0, 0, 0.7);
    }
    /* DIV WITH CONTENT */
    #content{
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5vh;
    }
    /* Contact Us CSS */
    #contactUsDiv{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-content: center;
        font-size: 1.2rem;
        width: 100%;
    }
    /* MyInfo CSS */
    /* Main container */
    #contentDivs{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-content: flex-end;
        font-size: 1.2rem;
        width: 100%;
    }
}