/* Box Model Hack */
* {
    box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.clear {
   clear: both;
}
/* MAIN CONTENT */
#mainContent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80vw;
    margin: auto;
    min-height: 75vh;
    width: 70vw;
}
/* DIV WITH OPTIONS */
#options{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid red;
}
#options ol{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#options ol li{
    margin: 15px 0;
    font-size: 2rem;
}
#options ol li span:hover{
    cursor: pointer;
}
/* DIV WITH CONTENT */
#content{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid red;
}
/* MY DATA */
.myDataDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    font-size: 1.2rem;
    gap: 10px;
}
.myDataFirstName{
    
}