/* Box Model Hack */
* {
    box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.clear {
   clear: both;
}
body{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 62.5%;
    font-family: 'Roboto Condensed', sans-serif;
}
/* CHECKOUT MAIN */
#checkOutMain{
    min-height: calc(100vh - 50px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Centered div */
#checkOutContent{
    height: 80vh;
    width: 70vw;
    min-width: 600px;
    max-width: 900px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 75px;
}
/* SUMMARY OF THE ORDER (PRICE, BTNS TO ORDER) */
#checkOutSummary{
    height: 400px;
    min-width: 250px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding: 10px;
    /* border: 2px solid rgba(128, 128, 128, 0.7); */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#checkOutSummary span{
    font-size: 1.5rem;
}
#checkOutSummary h2 + span{
    font-size: 2rem;
}
#checkOutSummary h2{
    font-size: 2rem;
}
/* Divs that have 2 spans (name and price) */
.withPrice{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.7);
    margin-top: 5px;
}
/* BUTTONS TO ORDER */
#checkOutSummary input[type="submit"]{
    background: none;
    color: rgba(51, 51, 51, 0.7);
    padding: 10px 20px;
    border: 2px solid rgba(51, 51, 51, 0.7);
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    width: 90%;
}
#checkOutSummary input[type="submit"]:hover{
    background: rgba(51, 51, 51, 0.7);;
    color: #fff;
}
#summaryButtons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
}
/* ITEMS IN CART */
#checkOutItems{
    width: 70%;
    min-height: 100%;
    /* display: flex;
    flex-direction: column; */
}
.checkOutItem{
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: row;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 0 0 20px 0;
}
/* Picture of the item */
.checkOutItem input[type="image"]:first-child{
    height: 100%;
    aspect-ratio: 1 / 1;
    padding: 40px;
}
/* Box with item description, name and price */
.checkOutItemText{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
}
.checkOutItem span{
    font-size: 1.2rem;
}
.checkOutItem h2{
    font-size: 1.5rem;
    font-weight: bold;
}
.checkOutItem span:last-child{
    text-align: right;
}
.checkOutItem input[type="image"]:last-child{
    height: 15px;
    aspect-ratio: 1 / 1;
    cursor: pointer;
    margin: 40px;
}
/* MEDIA QUERY FOR PHONE SCREEN */
@media (max-width: 768px){
    /* styles for phones */
}