/* Box Model Hack */
* {
    box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.clear {
   clear: both;
}
/******************************************
/* HEADER
/*******************************************/
header {
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: space-between;

    border-bottom: 1px solid black;
}
/* LEFT BAR */
header {
    height: 10vh;
    max-height: 100px;
    min-height: 50px;
    width: 100%;
    max-width: 1920px;
    min-width: 500px;
    display: flex;
    justify-content: space-between;
    background-color: white;

    margin: auto;
}
/* LEFT BAR */
#headerBarLeft {
    height: 100%;
    width: 30vw;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
}
#logoImg {
    height: 30px;
    margin-left: 8%;
    aspect-ratio: 1 / 1;
    opacity: 70%;
}
#storeTitle {
    
}
#storeTitleText {
    font-size: 1.2rem !important;
    font-family: 'Roboto Condensed', sans-serif !important;
    opacity: 70%;
}

/* RIGHT BAR */
#headerBarRight {
    height: 100%;
    width: 30vw;
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    align-items: center;
}
#cart{
    height: 30px;
    aspect-ratio: 1 / 1;
    margin-right: 8%;
    opacity: 70%;
}
#account{
    height: 30px;
    aspect-ratio: 1 / 1;
    opacity: 70%;
}
#headerDivider{
    height: 30px;
    border-left: 2px solid rgb(56, 56, 56);
    margin: 0 20px;
    opacity: 70%;
}