/* Box Model Hack */
* {
    box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.clear {
   clear: both;
}
/******************************************
/* HEADER
/*******************************************/
header{
    height: 10vh;
    min-height: 50px;
    width: 100%;
    min-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
}
#mainHeader{
    height: 80%;
    width: 80%;
    max-width: 2200px;
    min-width: 500px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}
#headerBorderBottom{
    width: 75%;
    max-width: 1000px;
    min-width: 500px;
    border-bottom: 2px solid #b5b5b5;
    margin-bottom: 5%;
}
/* LEFT BAR */
#headerBarLeft {
    height: 100%;
    width: 30vw;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
}
#logoImg {
    background-image: url("./cssImages/LOGO.png");
    margin-left: 8%;
}
#storeTitleText {
    /* font-size: 1.2rem; */
    font-size: 3vh;
    font-family: 'Roboto Condensed', sans-serif;
    opacity: 70%;
    color: #b5b5b5;
}
/* RIGHT BAR */
#headerBarRight {
    height: 100%;
    width: 30vw;
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    align-items: center;
}
#cart{
    background-image: url("./cssImages/cart.png");
    margin-right: 8%;
}
#account{
    background-image: url("./cssImages/account.png");
}
#headerDivider{
    height: 80%;
    border-left: 2px solid #b5b5b5;
    margin: 0 20px;
    opacity: 70%;
}
/* HEADER LOGOS SIZING */
.headerImg{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    aspect-ratio: 1 / 1;
    /* opacity: 70%; */
    height: 80%;
    min-height: 30px;
    max-height: 150px;
}
.headerImg:hover{
    cursor: pointer;
}
/* MEDIA QUERY FOR LARGE SCREEN */
@media screen and (min-width: 2560px){
    
}