/* Box Model Hack */
* {
    box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.clear {
   clear: both;
}
/******************************************
/* HEADER
/*******************************************/
header {
    height: 12vh;
    max-height: 50px;
    min-height: 50px;
    width: 100%;
    min-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
}
#mainHeader{
    height: 80%;
    width: 80%;
    max-width: 1000px;
    min-width: 500px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}
#headerBorderBottom{
    width: 75%;
    max-width: 1000px;
    min-width: 500px;
    border-bottom: 2px solid #b5b5b5;
    margin-bottom: 2px;
}
/* LEFT BAR */
#headerBarLeft {
    height: 100%;
    width: 30vw;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
}
#logoImg {
    height: 30px;
    margin-left: 8%;
    aspect-ratio: 1 / 1;
    opacity: 70%;
}
/* #storeTitle {

} */
#storeTitleText {
    font-size: 1.15rem;
    font-family: 'Roboto Condensed', sans-serif;
    opacity: 70%;
    color: #b5b5b5;
}

/* RIGHT BAR */
#headerBarRight {
    height: 100%;
    width: 30vw;
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    align-items: center;
}
#cart{
    height: 30px;
    aspect-ratio: 1 / 1;
    margin-right: 8%;
    opacity: 70%;
}
#account{
    height: 30px;
    aspect-ratio: 1 / 1;
    opacity: 70%;
}
#headerDivider{
    height: 30px;
    border-left: 2px solid #b5b5b5;
    margin: 0 20px;
    opacity: 70%;
}