/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}
.clear {
	clear: both;
}
body{
     background-color: white;
     display: flex;
     flex-direction: column;
     align-items: center;
     min-width: 800px;
     /* display: flex;
     overflow-x: scroll;
     scroll-snap-type: x mandatory;
     width: 100%; */
}
/* BOX OF THE MAIN PRODUCT */
#mainSpace {
     max-height: 700px;
     min-height: 350px;
     height: 75vh;
     padding: 2vh 0;
     width: 70vw;
     min-width: 600px;
     max-width: 900px;
     display: flex;
     flex-direction: row;
     align-content: flex-start;
     justify-content: center;
     font-size: 62.5%;
     font-family: 'Roboto Condensed', sans-serif;
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
/* BOX FOR SPECS */
#specs{
     height: 80vh;
     min-height: 600px;
     max-height: 800px;
     width: 100%;
     background-color: rgba(0, 0, 0, 0.8);
     display: flex;
     justify-content: center;
     font-family: 'Roboto Condensed', sans-serif;
}
/* OTHER PRODUCTS BOX */
#moreProducts{
     width: 70vw;
     min-width: 600px;
     max-width: 900px;
     height: 1100px;
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
     font-family: 'Roboto Condensed', sans-serif;
}
/* MAIN SPACE BANNER */
/* SPACE FOR TEXT OF THE BANNER */
#textSpace{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     height: 100%;
     width: 30%;
}
#upperText{
     height: 35%;
     width: 75%;
     display: flex;
     justify-content: space-between;
}
#flippedText{
     writing-mode: vertical-rl;
     transform: rotate(-180deg);
     text-align: right;
     font-size: 1.5rem;
     opacity: 70%;
}
#imageCounter{
     font-size: 3rem;
     opacity: 70%;
}
#bottomText{
     height: 35%;
     width: 75%;
     display: flex;
     flex-direction: column;
     justify-content: flex-end;
     align-content: flex-start;
}
#titleOfProduct{
     font-size: 3rem;
     opacity: 70%;
}
#productText{
     font-size: 1.6rem;
     opacity: 70%;
}
#dividerProduct{
     width: 75%;
     border-bottom: 1px solid rgba(0,0,0,0.7);
     margin: 15px 0;
}
/* IMAGE SIDE (RIGHT SIDE) */
#pictureSpace{
     height: 100%;
     width: 70%;
     min-width: 350px;
     display: flex;
     justify-content: center;
     align-items: center;
}
#gpuBackground{
     background-image: url("./cssImages/GPUbackground.png");
     background-size: contain;
     background-repeat: no-repeat;
     background-position: center;
     width: 100%;
     height: 100%;
     display: flex;
     flex-direction: row;
     justify-content: flex-end;
     align-content: flex-end;
     flex-wrap: wrap;
}
#arrowLeft{
     height: 45px;
     width: 45px;
     background-image: url("./cssImages/arrowLeft.png");
     background-size: contain;
     background-repeat: no-repeat;
     background-position: center;
     margin: 0px 15px 35px 0px;
}
#arrowLeft:hover{
     cursor: pointer;
     transform: scale(1.1);
}
#arrowRight{
     height: 45px;
     width: 45px;
     background-image: url("./cssImages/arrowRight.png");
     background-size: contain;
     background-repeat: no-repeat;
     background-position: center;
     margin: 0px 35px 35px 0px;
}
#arrowRight:hover{
     cursor: pointer;
     transform: scale(1.1);
}
/* SPECS PAGE */
#specs h1{
     font-size: 3rem;
     color: white;
     opacity: 70%;
     text-align: center;
     margin: 10% 0;
}
#specsCentered{
     height: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
}
#lists{
     display: flex;
     flex-direction: row;
     justify-content: space-around;
}
.specLists{
     width: 35%;
     height: 20%;
}
.specLists ol{
     font-size: 1.5rem;
     color: white;
     opacity: 70%;
}
.specLists ol li{
     margin: 10px 0;
}
#imageSpecs{
     height: 250px;
     width: 250px;
     margin-top: 5%;
     background-image: url("./cssImages/gpuSpecs.png");
     background-size: contain;
     background-repeat: no-repeat;
     background-position: center;
}
/* MORE PRODUCTS */
#moreProducts h1{
     padding: 50px;
     font-size: 3rem;
     text-align: center;
     opacity: 70%;
}
/* List of the GPUs */
#productList{
     height: 850px;
     display: flex;
     flex-direction: column;
     align-items: center;
}
/* Box with a single gpu */
.productBox{
     margin: 25px 25px 0 25px;
     padding-top: 25px;
     height: 200px;
     width: 80%;
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     align-items: center;
     border-top: 1px solid rgba(0, 0, 0, 0.7);
}
.imageInList1{
     height: 100%;
     aspect-ratio: 1 / 1;
     background-image: url("./cssImages/gpuSpecs.png");
     background-size: contain;
     background-repeat: no-repeat;
     background-position: center;
}
.imageInList2{
     height: 100%;
     aspect-ratio: 1 / 1;
     background-image: url("./cssImages/gpuSpecs2.png");
     background-size: contain;
     background-repeat: no-repeat;
     background-position: center;
}
.imageInList3{
     height: 100%;
     width: 40%;
     background-image: url("./cssImages/gpuSpecs3.png");
     background-size: contain;
     background-repeat: no-repeat;
     background-position: center;
}
.imageInList4{
     height: 100%;
     width: 40%;
     background-image: url("./cssImages/gpuSpecs4.png");
     background-size: contain;
     background-repeat: no-repeat;
     background-position: center;
}
/* Box with text fields of the single item */
.textBoxInList{
     height: 100%;
     width: 100%;
     opacity: 70%;
     display: flex;
     flex-direction: column;
     gap: 10px;
}
.textBoxInList h2{
     font-size: 2rem;
}
.textBoxInList p{
     font-size: 1.2rem;
     width: 70%;
}
.addProductInList{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     flex-wrap: wrap;
     align-content: flex-end;
     height: 50%;
     width: 100%;
}
.addProductInList span{
     font-size: 2rem;
}
.addProductInList input[type="submit"]{
     text-align: center;
     height: 35px;
     width: 150px;
     font-size: 1.2rem;
     background: none;
     color: rgba(51, 51, 51, 0.7);
     border: 2px solid rgba(51, 51, 51, 0.7);
     border-radius: 5px;
     font-weight: bold;
     cursor: pointer;
     transition: all 0.2s ease-in-out;
     padding: 0;
}
.addProductInList input[type="submit"]:hover{
     background: rgba(51, 51, 51, 0.7);;
     color: #fff;
}
@media screen and (min-resolution: 140px) {
     * {
       font-size: 125%;
     }
}